@import '~antd/dist/antd.css';

body {
  background: #3B4A9C;
}

.button-container {
  margin: 5px 7px;
  display: flex;
  justify-content: space-between;
}

#name {
 width: 100%;
 margin: 10px auto; 
}
.render-data {
  margin: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* #components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */